    .blanco {
        
    color:black;
    background-color: white;
    font-family: 'Fredoka', sans-serif;
    
}
.negro {
    color:rgb(255, 255, 255);
    background-color: black;
    font-family: 'Fredoka', sans-serif;
}
.multicolor {
    color: aqua;
    background-color: blueviolet;
    font-family: 'Fredoka', sans-serif;
}
